.btns {
  display: flex;
  justify-content: space-between;
}

.table {
  height: 200px;
  text-align: center;

  &_tr {
    width: 130px;
    text-align: left;
  }
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_value {
    word-break: break-all;
  }
}
