.btns {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_value {
    word-break: break-all;
  }
}
