@import '../../styles/mixins.scss';

.list {
  &_link {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none !important;
    color: $c-red;

    &.active {
      color: $c-white !important;
      background-color: $c-red;
    }

    &:hover {
      color: $c-red;
    }
  }

  &_li {
    padding: 0 !important;

    svg {
      fill: $c-red !important;
    }

    &.active {
      border-color: $c-red !important;

      svg {
        fill: $c-white !important;
      }
    }
  }
}
