@import '../../../styles/mixins.scss';

.input {
  margin-bottom: 10px;
}


.chipWrap{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .chip{
    cursor: pointer;
    background-color: rgb(246, 251, 255);
    border: 1px solid rgb(161, 161, 161);
    padding: 3px 10px;
    border-radius: 15px;
  }
}