@import '../../styles/mixins.scss';

.h1 {
  margin-bottom: 30px;
}

.table {
  background-color: $c-white;
  &_date {
    white-space: nowrap;
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.error {
  color: red;
}

.wrap {
  display: flex;
  justify-content: space-between;

  &_table {
    width: 75%;

    &.active {
      width: 100%;
    }
  }
}

.card {
  width: 30%;

  &.hidden {
    display: none !important;
  }

  @include media-sm {
    width: 400px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.pagination {
  margin-top: 1rem;
}
