@font-face {
  font-family: ProximaNova;
  src: url('../../assets/fonts/Proxima-Nova-Regular.otf');
}

.vltitle {
  font-family: ProximaNova;
  font-size: '1rem';
  line-height: '0.9rem';
  text-align: 'center';
  overflow-wrap: 'break-word';
  hyphens: 'manual';
}
