@import '../../styles/mixins.scss';
.card_body {
  position: sticky;
  height: 500px;
  top: 0px;
}
.card {
  width: 25%;
  position: relative;
  display: block !important;

  img {
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    width: 100%;
    max-height: 200px;
  }

  &_empty {
    padding: 0.55rem;
  }
}
